<div class="integration">
    <div class="integration-heading">
         <span>Integrations</span>
     </div>
     <div class="integration-list">
        <div class="content">
            <div class="content-heading">
                <span> Zomato </span>
            </div>
        <div class="content-description">
            <span>Each time you create a changelog, a short blurb, link and #changelog tag will be posted to the connected twitter account.</span>
        </div>
       
    </div>
    <button mat-flat-button color="primary"> Connect </button>        
</div>
 </div>