<app-header></app-header>

<div *ngFor="let i of [1, 2, 3, 4, 5]">
  <mat-card class="example-card" appearance="outlined" style="max-width: 600px; margin: 20px auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <mat-card-header style="display: flex; align-items: center; background-color: #3d3d4e; padding: 6px; border-radius: 5px; color: antiquewhite;">
        <mat-card-title><i class="fas fa-user" style="margin-right: 8px;"></i>Santanu Mudi</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding: 16px;">
      <p style="margin: 0; font-size: 1.1em; color: #555;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Nulla facilisi. esfsdfsdfs dflkjsi lsdfknondsf i dfsf ids fsd fisd</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer" style="padding: 16px; border-radius: 8px;">
      <mat-chip-set>
        <mat-chip color="accent" selected><i class="fas fa-mobile-alt" style="margin-right: 4px;"></i>Mob No: 9064020193</mat-chip>
        <mat-chip color="warn"><i class="fas fa-exclamation-triangle" style="margin-right: 4px;"></i>Severity: 4</mat-chip>
        <mat-chip selected><i class="fas fa-globe" style="margin-right: 4px;"></i>Source: Google</mat-chip>
        
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</div>


  
  


<app-footer></app-footer>

