
.content {
  flex: 1;
  }

  .review-text-body{
    display: flex;
    align-items: flex-end;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }

 .review-text {
    flex:1 1 0%;
    font-family: inherit;
    
    
 }
 .card-header {
  display: flex; 
  align-items: center; 
  
  padding: 6px; 
  border-radius: 5px; 
  color: antiquewhite;
 } 

 .card-header-color-p {
  background-color: #098620; 
 }

 .card-header-color-n {
  background-color: #f60b0b; 
 }

 .card-header-color-m {
  background-color: #724306; 
 }


.stick-top {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff; /* Light background color */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center ;
    
}

.heading {
    text-align: center;
    font-family: "PT Serif";
    font-size: "34px",

    
}

.feedback-card {
  max-width: 600px;  
    padding: 5px;
    margin: 20px auto;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.feedback-card-footer {
    padding: 16px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }