<h2 mat-dialog-title>Reply | {{data.source}} | {{data.customerName}}</h2>
<mat-dialog-content>
    <p>
      {{data.reviewMsg}}  
    </p>
    <mat-form-field style="width: 100%;">
        <mat-label>Response</mat-label>
        <textarea rows="4" matInput [(ngModel)]="actualResponse" ></textarea>
    </mat-form-field>
    <p>
        <b>Reply Suggested by AI :</b>
        <br>
        {{data.aiResponse}}  
    </p>
<mat-dialog-content>
<mat-dialog-actions align="end" style="width: 100%;">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button color="primary" cdkFocusInitial (click)="replyReview(data.reviewId)">Submit</button>
</mat-dialog-actions>