<div class="profile">

    <div class="profile-heading">
        <span>User Profile</span>
    </div>
    <form class="profile-form">
        <mat-form-field>
            <mat-label>Your Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Display Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Designation</mat-label>
            <input matInput>
          </mat-form-field>
          <button mat-fab extended> Save </button>
     </form>
     

</div>